*{margin:0;padding:0;}
#exemplo{background-color: blue; color:#ffff;
width: 500px;
margin: 50px;
padding-top: 20px;
padding-right:  15px;
padding-bottom: 10px;
padding-left: 5px;
}

#exemplo2{background-color: blueviolet; color:#ffff;
    width: 500px;
    margin: 50px;
    padding: 20px 15px 10px 5px;
    }

    #exemplo3{background-color: rgb(226, 43, 43); color:#ffff;
        width: 500px;
        margin: 50px;
        padding: 20px;
        }